  <hr>
  <div id="footer" class="container">

    <h2 class="footer-heading">{{ site.title }}</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="contact-list">
              <li>{{ site.title }}</li>
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {% if site.facebook_username %}
              <li>
                {% include icon-facebook.html username=site.site_facebook_username %}
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="col-md-4">
            <!--<p>{{ site.description }}</p>-->
          </div>

          <div class="col-md-4">
            <ul class="social-media-list">
              {% if site.site_github_username %}
              <li>
                {% include icon-github.html username=site.site_github_username %}
              </li>
              {% endif %}

              {% if site.site_twitter_username %}
              <li>
                {% include icon-twitter.html username=site.site_twitter_username %}
              </li>
              {% endif %}

              {% if site.author_email %}
              <li>
                <a href="mailto:{{ site.author_email }}">{{ site.author_email }}</a>
              </li>
              {% endif %}
            </ul>
          </div>

        </div>
      </div>

  </div>

  {% include footer2.html %}
